<div class="container title">
  <div class="row col-md-8 col-md-offset-2">
    <h1>Home Page</h1>
  </div>
</div>
<div class="container">
  <div class="row col-md-5">
    <div class="zone type1">
      <h2>Connected users</h2>
      Search: <input type="text" ng-model="query"></input>
      <div class="scroll">
        <ul class="connectedUsers">
          <li class="connectedUser" ng-repeat="connectedUser in connectedUsers | filter: query" ng-click="selectUser(connectedUser)">
            {{connectedUser.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row col-md-5 col-md-offset-2">
    <div class="zone type2">
      <h2>Selected users</h2>
      <ul class="selectedUsers">
        <li class="selectedUser" ng-repeat="selectedUser in selectedUsers" ng-click="unselectUser(selectedUser)">
          {{selectedUser.name}}
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="sendInvitation()">Send invitation</button>
    </div>
    <div class="zone type3">
      <h2>Invitation</h2>
      <div class="scroll">
        <ul class="invitations">
          <li class="invitation" ng-repeat="invitation in invitations" ng-click="joinChat(invitation)">
            {{invitation.user}} invite you to join is chat : {{invitation.chatroom}}
          </li>
        <ul>
      </div>
    </div>
  </div>
  <div class="row col-md-8 col-md-offset-2">
    <p>Disconnect</p>
    <button class="btn btn-primary" ng-click="disconnect()">Disconnect</button>
  </div>
</div>
<div class="container title">

</div>
